nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    flex-wrap: wrap;

    .Link {
        color: #4a4a4a;
        background-color: #b3c7e6;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        transition: background-color 0.3s ease;
        width: 10%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
      
        &:hover {
          background-color: wheat;
        }
    }      
}